old_site
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# LaTeX compilation artifacts
public/resume/*.aux
public/resume/*.log
public/resume/*.out
public/resume/*.toc
public/resume/*.lof
public/resume/*.lot
public/resume/*.fls
public/resume/*.synctex.gz
public/resume/*.fdb_latexmk

todo.md

_source_assets/resume_nilmamano.aux
_source_assets/resume_nilmamano.log
_source_assets/resume_nilmamano.out
_source_assets/resume_nilmamano.synctex.gz
_source_assets/2025_stack_diagram.pdf.autosave.ipe
